python-color-getter>=0.0.1
git+https://git@github.com/yjg30737/pyqt-windows-min-max-close-buttons-widget.git@main
git+https://git@github.com/yjg30737/pyqt-mac-min-max-close-buttons-widget.git@main
git+https://git@github.com/yjg30737/pyqt-svg-icon-text-widget.git@main